{% block content %}
	<div class="container-fluid informatii">
		<div class="row" style="background-color: #bfbfbf;">
			<div>
				<span class="glyphicon glyphicon-envelope" style="font-size: 50px;padding: 15px; color: #000;"></span>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6" style="text-align: center;">
				<h3 class="detalii-contact">Pentru a contacta reprezentantii bisericii:</h3>
				<p class="detalii-contact">Pastor   -   000.0000.0000</p>
				<p class="detalii-contact">Prezbiter   -   000.0000.0000</p>
				<p class="detalii-contact">Prezbiter   -   000.0000.0000</p>
				<p class="detalii-contact">Prim-diacon   -   000.0000.0000</p>
				<p class="detalii-contact">email: <a href="mailto:bisericaazssimand@gmail.com" style="text-decoration: none; font-weight: bold; color: #fff;">bisericaazssimand@gmail.com</a></p>
			</div>
			<div class="col-sm-6" style="text-align: left;">
				<h3 class="detalii-contact">Pentru a contacta reprezentantii bisericii:</h3>
				<p class="detalii-contact">Pastor   -   000.0000.0000</p>
				<p class="detalii-contact">Prezbiter   -   000.0000.0000</p>
				<p class="detalii-contact">Prezbiter   -   000.0000.0000</p>
				<p class="detalii-contact">Prim-diacon   -   000.0000.0000</p>
				<p class="detalii-contact">email: <a href="mailto:bisericaazssimand@gmail.com" style="text-decoration: none; font-weight: bold; color: #fff;">bisericaazssimand@gmail.com</a></p>
			</div>
		</div>
	</div>
{% endblock %}