{% block content %}
	<div class="container-fluid directie" style="background-color: #efefef;">
		<div class="row">
			<div class="col-sm-6" style="text-align: left;">
				<h3>Adresa</h3>
				<p>Simand jud. Arad nr xxx</p>
				<h3>Adresa</h3>
				<p>Simand jud. Arad nr xxx</p>
				<h3>Adresa</h3>
				<p>Simand jud. Arad nr xxx</p>
			</div>
			
		</div>
		<div class="row">
			<!-- Google Maps -->
			<div id="googleMap" style="width:100%;height:420px;"></div>
			<script>
			function myMap()
			{
			  myCenter=new google.maps.LatLng(46.4253913, 21.4519618);
			  var mapOptions= {
			    center:myCenter,
			    zoom:16, scrollwheel: false, draggable: true,
			    mapTypeId:google.maps.MapTypeId.ROADMAP
			  };
			  var map=new google.maps.Map(document.getElementById("googleMap"),mapOptions);

			  var marker = new google.maps.Marker({
			    position: myCenter,
			  });
			  marker.setMap(map);
			}
			</script>
			<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhivfdZdmjILv-o-iUfNzXJGM9J_3PCGQ&callback=myMap"></script>
		</div>
	</div>
{% endblock %}